// ## Colors

// ### Primary

$blue: hsl(223, 87%, 63%);

// ### Secondary

$light_blue: hsl(223, 100%, 88%);
$light_red: hsl(354, 100%, 66%);

// ### Neutral

$gray: hsl(0, 0%, 59%);
$dark_blue: hsl(209, 33%, 12%);
