@media only screen and (min-width:300px){
    .notify{
        display: flex;
        flex-direction: column;
        width: 15rem;

        margin-bottom: 3.5rem;

        
        &__input{
            padding: 1em 0 1em 2em;
            border-radius: 2rem;
            border: none; //removes the default input element's border
            outline: none; //removes default outline
            border: 1px solid $light_blue;
            margin-bottom: .8em;
            transition: all 100ms ease;
            &::placeholder{
                color: $light_blue;
            }
        }
        &__button{
            background-color: $blue;
            color: white;
            border: none; //removes default border
            outline: none; //removes default outline 
            padding: 1em 0 1em 0;
            border-radius: 2rem;
            cursor: pointer;

            transition:50ms ease;
            &--hover{
                &:hover{
                    opacity: .8;
                }
            }
        }
    }
}
//desktop
@media only screen and (min-width:1024px){
    .notify{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 27rem;
        &__input{
            padding: 1.2em 0 1.2em 2em;
            width: 68%;
            margin: 0;
            margin-right: .5rem;
        }
        &__button{
            padding: 1.2em 0 1.2em 0;
            width: 32%;
        }
    }
}

